In [1]:
import pandas as pd

In [2]:
df = pd.read_csv ('/home/melodie/Téléchargements/archive/COVID-19 Coronavirus.csv')
print (df)

               Country                Other names ISO 3166-1 alpha-3 CODE  \
0          Afghanistan                Afghanistan                     AFG
1              Albania                    Albania                     ALB
2              Algeria                    Algeria                     DZA
3              Andorra                    Andorra                     AND
4               Angola                     Angola                     AGO
..                 ...                        ...                     ...
220  Wallis and Futuna  Wallis and Futuna Islands                     WLF
221     Western Sahara             Western Sahara                   ESHÂ
222              Yemen                      Yemen                     YEM
223             Zambia                     Zambia                     ZMB
224           Zimbabwe                   Zimbabwe                     ZWE

     Population Continent  Total Cases  Total Deaths  Tot Cases//1M pop  \
0      40462186      Asia       177827          7671               4395
1       2872296    Europe       273870          3492              95349
2      45236699    Africa       265691          6874               5873
3         77481    Europe        40024           153             516565
4      34654212    Africa        99194          1900               2862
..          ...       ...          ...           ...                ...
220       10894   Oceania          454             7              41674
221      623031    Africa           10             1                 16
222    30975258      Asia        11806          2143                381
223    19284482    Africa       317076          3967              16442
224    15241601    Africa       246525          5446              16174

     Tot Deaths/1M pop  Death percentage
0                  190          4.313743
1                 1216          1.275058
2                  152          2.587216
3                 1975          0.382271
4                   55          1.915438
..                 ...               ...
220                643          1.541850
221                  2         10.000000
222                 69         18.151787
223                206          1.251120
224                357          2.209107

[225 rows x 10 columns]

In [6]:
df.describe()

,Population,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
count,2.250000e+02,2.250000e+02,2.250000e+02,225.000000,225.000000,225.000000
mean,3.507321e+07,2.184781e+06,2.744813e+04,136900.373333,1096.715556,1.444125
std,1.392418e+08,7.275938e+06,9.689177e+04,145060.340289,1195.715543,1.741728
min,8.050000e+02,1.000000e+00,0.000000e+00,9.000000,0.000000,0.000000
25%,5.665570e+05,2.407100e+04,1.890000e+02,11384.000000,123.000000,0.511291
50%,5.827911e+06,1.639360e+05,1.965000e+03,88987.000000,708.000000,1.036905
75%,2.190585e+07,1.092547e+06,1.366000e+04,223335.000000,1795.000000,1.977017
max,1.439324e+09,8.183905e+07,1.008222e+06,696044.000000,6286.000000,18.151787

In [7]:
df.columns

Index(['Country', 'Other names', 'ISO 3166-1 alpha-3 CODE', 'Population',
       'Continent', 'Total Cases', 'Total Deaths', 'Tot Cases//1M pop',
       'Tot Deaths/1M pop', 'Death percentage'],
      dtype='object')

In [18]:
df['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei ',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Cameroon', 'Canada', 'CAR', 'Caribbean Netherlands',
       'Cayman Islands', 'Chad', 'Channel Islands', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czechia', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic',
       'Democratic Republic of the Congo', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Faeroe Islands', 'Falkland Islands',
       'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Ivory Coast',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali',
       'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Micronesia', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Réunion', 'Romania',
       'Russia', 'Rwanda', 'S. Korea', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre Miquelon', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'St. Barth ',
       'St. Vincent Grenadines', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turks and Caicos', 'UAE', 'Uganda', 'UK',
       'Ukraine', 'Uruguay', 'USA', 'Uzbekistan', 'Vanuatu',
       'Vatican City', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [10]:
df['Death percentage']= df['Death percentage'].apply(round)

In [13]:
ds = df[df['Continent'] == 'Asia']
print(ds)

          Country                                     Other names  \
0     Afghanistan                                     Afghanistan
8         Armenia                                         Armenia
12     Azerbaijan                                      Azerbaijan
14        Bahrain                                         Bahrain
15     Bangladesh                                      Bangladesh
22         Bhutan                                          Bhutan
28        Brunei                                Brunei Darussalam
33       Cambodia                                        Cambodia
42          China                                           China
51         Cyprus                                          Cyprus
75        Georgia                                         Georgia
89      Hong Kong  China, Hong Kong Special Administrative Region
92          India                                           India
93      Indonesia                                       Indonesia
94           Iran                                  United Kingdom
95           Iraq                                            Iraq
98         Israel                                          Israel
102         Japan                                           Japan
103        Jordan                                          Jordan
104    Kazakhstan                                      Kazakhstan
107        Kuwait                                          Kuwait
108    Kyrgyzstan                                      Kyrgyzstan
109          Laos                Lao People's Democratic Republic
111       Lebanon                                         Lebanon
118         Macao      China, Macao Special Administrative Region
121      Malaysia                                        Malaysia
122      Maldives                                        Maldives
134      Mongolia                                        Mongolia
139       Myanmar                                         Myanmar
141         Nepal                                           Nepal
151          Oman                                            Oman
152      Pakistan                                        Pakistan
154     Palestine                              State of Palestine
159   Philippines                                     Philippines
162         Qatar                                           Qatar
167      S. Korea                               Republic of Korea
176  Saudi Arabia                                    Saudi Arabia
181     Singapore                                       Singapore
190     Sri Lanka                                       Sri Lanka
197         Syria                            Syrian Arab Republic
198        Taiwan                 China, Taiwan Province of China
199    Tajikistan                                      Tajikistan
201      Thailand                                        Thailand
202   Timor-Leste                                     Timor-Leste
207        Turkey                                          Turkey
209           UAE                            United Arab Emirates
215    Uzbekistan                                      Uzbekistan
219       Vietnam                                        Viet Nam
222         Yemen                                           Yemen

    ISO 3166-1 alpha-3 CODE  Population Continent  Total Cases  Total Deaths  \
0                       AFG    40462186      Asia       177827          7671
8                       ARM     2972939      Asia       422574          8617
12                      AZE    10299156      Asia       792061          9697
14                      BHR     1804995      Asia       556241          1471
15                      BGD   167561502      Asia      1951770         29122
22                      BTN      786480      Asia        31437            12
28                      BRN      444812      Asia       135974           213
33                      KHM    17123941      Asia       135747          3054
42                      CHN  1439323776      Asia       154738          4638
51                      CYP     1222745      Asia       439964           947
75                      GEO     3975762      Asia      1649222         16756
89                      HKG     7603455      Asia      1171422          8172
92                      IND  1403754381      Asia     43029044        521388
93                      IDN   278586508      Asia      6019981        155288
94                      IRN    85874667      Asia      7167646        140315
95                      IRQ    41801625      Asia      2320260         25173
98                      ISR     9326000      Asia      3943153         10530
102                     JPN   125798669      Asia      6653841         28248
103                     JOR    10380442      Asia      1689314         14003
104                     KAZ    19169833      Asia      1305188         13660
107                     KWT     4381108      Asia       629525          2554
108                     KGZ     6712569      Asia       200968          2991
109                     LAO     7460338      Asia       183560           679
111                     LBN     6771939      Asia      1092995         10315
118                     MAC      664828      Asia           82             0
121                     MYS    33091831      Asia      4246467         35099
122                     MDV      557204      Asia       176993           298
134                     MNG     3370682      Asia       468610          2177
139                     MMR    55048340      Asia       611875         19433
141                     NPL    30053867      Asia       978475         11951
151                     OMN     5333815      Asia       388468          4251
152                     PAK   228397520      Asia      1525466         30361
154                     WBG     5308883      Asia       581236          5351
159                     PHL   112133868      Asia      3679485         59343
162                     QAT     2807805      Asia       361819           677
167                     KOR    51346429      Asia     13874216         17235
176                     SAU    35762746      Asia       751076          9048
181                     SGP     5930887      Asia      1109744          1276
190                     LKA    21570428      Asia       661991         16481
197                     SYR    18244381      Asia        55711          3144
198                     TWN    23892241      Asia        24310           853
199                     TJK     9912437      Asia        17388           124
201                     THA    70106601      Asia      3711595         25418
202                     TLS     1362386      Asia        22832           130
207                     TUR    85927644      Asia     14894731         98157
209                     ARE    10099567      Asia       892170          2302
215                     UZB    34318156      Asia       237853          1637
219                     VNM    98871712      Asia      9818328         42600
222                     YEM    30975258      Asia        11806          2143

     Tot Cases//1M pop  Tot Deaths/1M pop  Death percentage
0                 4395                190                 4
8               142140               2898                 2
12               76905                942                 1
14              308168                815                 0
15               11648                174                 1
22               39972                 15                 0
28              305689                479                 0
33                7927                178                 2
42                 108                  3                 3
51              359817                774                 0
75              414819               4215                 1
89              154064               1075                 1
92               30653                371                 1
93               21609                557                 3
94               83466               1634                 2
95               55506                602                 1
98              422813               1129                 0
102              52893                225                 0
103             162740               1349                 1
104              68086                713                 1
107             143691                583                 0
108              29939                446                 1
109              24605                 91                 0
111             161401               1523                 1
118                123                  0                 0
121             128324               1061                 1
122             317645                535                 0
134             139025                646                 0
139              11115                353                 3
141              32557                398                 1
151              72831                797                 1
152               6679                133                 2
154             109484               1008                 1
159              32813                529                 2
162             128862                241                 0
167             270208                336                 0
176              21002                253                 1
181             187113                215                 0
190              30690                764                 2
197               3054                172                 6
198               1017                 36                 4
199               1754                 13                 1
201              52942                363                 1
202              16759                 95                 1
207             173340               1142                 1
209              88337                228                 0
215               6931                 48                 1
219              99304                431                 0
222                381                 69                18

In [3]:
ds2 = df.groupby('Continent')['Total Cases'].sum()

In [4]:
print(ds2)

Continent
Africa                              11764207
Asia                               140957179
Europe                             180332483
Latin America and the Caribbean     67509231
Northern America                    85364770
Oceania                              5647957
Name: Total Cases, dtype: int64

In [5]:
ds2[ds2 == ds2.max()]

Continent
Europe    180332483
Name: Total Cases, dtype: int64